<!-- Oinloggat läge -->
<section *ngIf="!correctLogin">
    <h2>Välkommen till vår nyhetsbrevssida!</h2>

    <div>
        <h3>Vänligen logga in: </h3>

        <form>
            <label for="userName">Mailadress: </label>
            <input type="text" name="userName" #userName>

            <label for="password">Lösenord: </label>
            <input type="password" name="password" #password>
        </form>
        <button (click)="checkUser(userName.value, password.value)">Logga in</button>

        <p id="wrongLoginP" *ngIf="wrongLogin">Du har angett fel inloggningsuppgifter</p>

        <p>Är du ny här? Klicka <span (click)="createNewUser()">här</span> för att skapa en ny användare</p>
    </div>

    <div *ngIf="createUser">
        <h3>Skapa ny användare: </h3>

        <form>
            <label for="userName">Mailadress:</label>
            <input type="text" name="userName" #newUserName>

            <label for="password">Välj lösenord:</label>
            <input type="password" name="password" #newPassword>
        </form>
        <button (click)="saveNewUser(newUserName.value, newPassword.value)">Skapa ny användare</button>
    </div>
</section>

<!-- Inloggat läge -->
<section *ngIf="correctLogin">
    <h2>Välkommen till inloggad läge!</h2>

    <div *ngIf="!subscriber">
        <p>
            Vill du prenumerera på vårt nyhetsbrev? <br><br>
            Fyll i din mailadress nedan så aktiveras din prenumeration. <br><br>
        </p>


        <!-- <input type="text" #email placeholder="Email"> -->
        <button id="subscribeBtn" (click)="subscribe()">Prenumerera</button>

        <p>Du kan när som helst avsluta din prenumeration.</p>
    </div>

    <div *ngIf="subscriber">
        <p>Du prenumererar på vårt nyhetsbrev!</p>
        <p>Vill du avsluta din prenumeration?</p>
        <button id="unsubscribeBtn" (click)="unsubscribe()">Avbryt prenumeration</button>
    </div>

    <button (click)="logOut()">Logga ut</button>
</section>